<h2 class='text-center'> Resultados da sua pesquisa contendo <%="#{:search}"%></h2>

<div class="container">
  <!-- single row -->
  <div class="row">
    <div class="col-xs-6">

      <div class="medicines-offers">
        <% @meds.each do |med| %>
          <div class="card-meds">
            <%= cl_image_tag med.photo.url(:resize), class:"box" %>
            <h4><%= med.name %></h4>
            <div class="content">
              <p class="description"><%= med.description %></p>
            </div>
            <span class="align-name-mid-left">Doador: <%= link_to user_path(med.user), med.user.name%></span>
            <div class="avatar align-avatar-left">
              <%= image_tag donator_picture(med)%>
            </div>
            <p><%= link_to "Mais informações", med_path(med), {class:"btn-search"}%></p>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col-xs-6">

      <!-- added for geocoding -->
      <div id="map" style="width: 100%; height: 600px;">
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
