<div class="container">
  <div class="row">
    <div class="card">
      <div class="col-xs-12 col-sm-12">
        <h1><%= @med.name %></h1>
        <br>
        <br>
        <%= cl_image_tag @med.photo.url(:bright) %>
        <p>validade: <%=@med.exp_date%></p>
        <p><%= @med.description %></p>
        <div><%=@med.user.name%></div>
        <div>Bula</div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="username"><h1><%=@med.user.name%></h1><%= image_tag("#{@med.user.facebook_picture_url}", class:"img-circle" )%>
        </div>
      </div>
</div>
