<div class="banner-meds" style="background-image: url(<%= cl_image_path(@med.photo.url)%>)">
</div>
<div class="container">
  <div class="wrapper-meds">
    <div class="row">
      <div class="col-md-8">
        <h1><%=@med.name%></h1>
        <h3>Validade: <%=@med.exp_date%></h3>
        <p><%=@med.description%></p>
      </div>
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag donator_picture, class: "card-user avatar avatar-large" %>
           <p>Doador:<%=@med.user.name%></p>
        </div>
      </div>
    </div>
    <%=cl_image_tag @med.photo.url(:bright)%>
    <%=cl_image_tag @med.photo.url(:bright)%>
    <br><br>
    <% if @med.user == current_user %>
      <%= link_to "Bula", shares_path, { id:"leaflet", class: "btn-search" }%>
    <% else %>
      <%= link_to "Pedir", new_share_path(med_id: @med.id), { id:"ask", class: "btn-search" }%>
      <%= link_to "Bula", shares_path, { id:"leaflet", class: "btn-search" }%>
    <% end %>
  </div>
</div>
