<h1><%= "Solicitação n.#{@share.id}"  %> </h1>

<p><%= "Medicamento: #{@share.med.name}" %></p>
<p><%= "Solicitante: #{@share.taker.name}" %></p>
<p><%= "Endereço de envio: #{@share.taker.address}" %></p>
<p><%= "CEP: #{@share.taker.zipcode}" %></p>
<p><%= "Valor estimado do frete: R$ (a calcular)" %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <%=simple_form_for(@share) do |s| %>
      <%= s.input :status, as: :hidden, input_html: { value: "sent" } %>
      <%= s.input :tracking, label: 'Código do Rastreamento:', placeholder: 'Insira o Código de Rastreamento dos Correios' %>
      <%= s.button :submit,'Confirmar envio', class: 'btn-search' %>
    <% end %>

    </div>
  </div>
</div>
