
<div id="users">

  <div class="container">

    <h3 text-align="in-line"><%= current_user.name  %> - Histórico</h3>

    <div class="row">

      <div class="col-lg-4 col-xs-12">
        <div class="card-l">
          <div class="title-med-giver text-center">
            <h4 text-align="top-left" >Medicamentos disponíveis para doação</h4>
            <hr>
          </div>
          <div class="card-content-l max-heigth-card-l scroll-overflow">
            <% current_user_meds_available.each_with_index do |med, index| %>
              <% medicament = "- #{index + 1}) #{med.name}: #{med.description}, val: #{med.exp_date.strftime("%m/%d/%Y")} status: disponível para doação" %>
              <p><%= link_to medicament, med_path(med) %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-xs-12">

        <div class="card">

          <div class="title-content">
            <h4 text-align="top-left" >Medicamentos em transação</h4>
          </div>

          <hr>

          <div class="card-content max-heigth-card scroll-overflow">

            <h3>pending approval by donor</h3>
            <% current_user_shares_waiting_on_donor.each_with_index do |share, index| %>
              <p>
              <%= "- #{index + 1}) #{share.med.name}, doador: #{share.giver.name}, solicitado em: #{share.created_at.strftime("%d/%m/%Y")} status: #{share.status} "%>
              </p>
            <% end %>
          </div>

          <h3>pending my approval</h3>
          <div class="card-content max-heigth-card scroll-overflow">
            <% current_users_shares_to_approve.each_with_index do |share, index| %>
              <p>
              <%= "- #{index + 1}) #{share.med.name}, solicitante: #{share.taker.name}, solicitado em: #{share.created_at.strftime("%d/%m/%Y")}"%>
              <% if share.status == "required" %>
                <%= "status: solicitado" %>
                <%= button_to "Detalhes", edit_share_path(share), method: :get, class: "btn-search" %>
              <% end %>
              </p>
          <% end %>
          </div>

          <hr>

        </div>

        <div class="card">

          <div class="title-content">
            <h4 text-align="top-left">Medicamentos em Trânsito</h4>
            <hr>
          </div>
          <div class="card-content max-heigth-card scroll-overflow">
            <% current_users_meds_sent.each_with_index do |share, index| %>
              <p>
              <%= "- #{index + 1}) #{share.med.name}, doador: #{share.giver.name}, enviado em: #{share.updated_at.strftime("%d/%m/%Y")}"%>
              <% if share.status == "sent" %>
                <%= "status: enviado" %>
                <%= button_to "Recebi", share_path(share, share: { status: "received" }), method: :patch, class: "btn-search" %>
              <% end %>
              </p>
          <% end %>
          </div>

          <div class="title-content">
            <h4 text-align="top-left">Medicamentos Recebidos</h4>
            <hr>
          </div>
          <div class="card-content max-heigth-card scroll-overflow">
            <% current_users_meds_received.each_with_index do |share, index| %>
              <p>
              <%= "- #{index + 1}) #{share.med.name}, doador: #{share.giver.name}, enviado em: #{share.updated_at.strftime("%d/%m/%Y")} status: recebido"%>
              </p>
          <% end %>
          </div>

        </div>

        <div class="card">
          <div class="title-content">
            <h4 text-align="top-left">Medicamentos já doados</h4>
            <hr>
          </div>
          <div class="card-content max-heigth-card scroll-overflow" >
            <% current_users_shares_sent.each_with_index do |share, index| %>
              <p>
              <%= "- #{index + 1}) #{share.med.name}, solicitante: #{share.taker.name}, enviado em: #{share.updated_at.strftime("%d/%m/%Y")}"%>
              <%= "status: #{share.status}" %>
              </p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
