
<div id="users">

  <div class="container">

    <h3 text-align="in-line"><%= current_user.name  %> - Histórico</h3>

    <div class="row">
      <div class="col-lg-4 col-xs-12">
        <div class="card-l">
          <div class="title-med-giver text-center">
            <h4 text-align="top-left" >Medicamentos disponíveis para doação</h4>
            <hr>
          </div>
          <div class="card-content-l max-heigth-card-l scroll-overflow">
            <% @meds.each_with_index do |med, index| %>
              <p>
                <% medicament = "- #{index + 1}) #{med.name}: #{med.description}, val: #{med.exp_date.strftime("%m/%d/%Y")}" %>
                <%= link_to medicament, med_path(med) %>
              </p>
           <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-xs-12">
        <div class="card">
          <div class="title-content">
            <h4 text-align="top-left" >Medicamentos em transação</h4>
            <hr>
          </div>
          <div class="card-content max-heigth-card scroll-overflow">
            <% @shares.each_with_index do |share, index| %>
              <p>
              <%= "- #{index + 1}) #{share.med.name}, doador: #{share.giver.name}, solicitado em: #{share.created_at.strftime("%d/%m/%Y")} "%>
              </p>
          <% end %>
          </div>
        </div>

        <div class="card">

          <div class="title-content">
            <h4 text-align="top-left">Medicamentos recebidos</h4>
            <hr>
          </div>
          <div class="card-content max-heigth-card scroll-overflow">
            <% @meds.each_with_index do |med, index| %>
              <p>
                <%= "- #{index + 1}) #{med.name}: #{med.description}, val: #{med.exp_date.strftime("%m/%d/%Y")}" %>
              </p>
           <% end %>
          </div>
        </div>

        <div class="card">
          <div class="title-content">
            <h4 text-align="top-left">Medicamentos já doados</h4>
            <hr>
          </div>
          <div class="card-content max-heigth-card scroll-overflow" >
            <% @meds.each_with_index do |med, index| %>
              <p>
                <%= "- #{index + 1}) #{med.name}: #{med.description}, val: #{med.exp_date.strftime("%m/%d/%Y")}" %>
              </p>
           <% end %>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>






